@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.navbar {
    color: black;
    background-color: rgb(30, 30, 125);
    border-bottom: 5px solid black;
    display: flex;
}

.navbar-container {
    color: black;
    display: flex;
    align-items: center;
    width: 100%;;
}

.navbar-logo {
    flex: 1 1 auto;
    color: black;
}

.navbar-logo a {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
}

.nav-button {
    margin-left: 50px;
    margin-right: 50px;
    width: 100px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}

.nav-menu {
    color: rgb(30, 30, 125);
}

h1 {
    font-family: 'Caveat';
    align-items: center;
    font-size: 80px;
    color:white;
    display: flex;
}

.img {
    height: 100px;
    width: 100px;
    padding: 25px;
}

.nav-links {
    color: white;
    text-decoration: none;
}

.nav-links-mobile {
    color: white;
    text-decoration: none;
}

.btn-mobile {
    margin: 50px;
    flex-direction: column;
}